.login .login__form {
    border-radius: 20px;
    color: black;

    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 2em 10%;

    width: 100%;
    min-width: 200px;
    max-width: 700px;
}

.login h1, .login p {
    text-align: center;
}

.login h1 {
    margin: 0%;
}

.login .login__form input {
    width: 100%;

    background-color: var(--main-color-10);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    font-family: var(--second-font);
    font-size: 1em;
    color: black;

    padding: 1em;
}

.login .login__form button {
    width: 100%;
    padding: .5em 1em;
    background-color: var(--main-color-30);
    color: var(--main-color-10);
    border: 2px solid transparent;

    border: none;
    border-radius: 20px;

    font-family: var(--main-font);
    font-size: 1.2em;

    transition: all .3s ease;
}

.login .login__register {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-content: center;
}

.login a {

    display: flex;
    padding: .5em 1em;
    gap: 1em;

    background-color: var(--main-color-30);
    color: var(--main-color-10);
    border: 2px solid transparent;

    border: none;
    border-radius: 20px;

    font-family: var(--main-font);
    font-size: 1.2em;

    transition: all .3s ease;

    width: 100%;
    min-width: 200px;
    max-width: 200px;
}

.login .login__form button:hover, .login a:hover {
    background-color: var(--main-color-10);
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
}