.search {
    width: 100%;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: .5em 10%;

    gap: .2em;
}

.filters {
    width: 100%;
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: .5em 10%;

    gap: .2em;
}