.search {
    width: 100%;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: .5em 10%;

    gap: .2em;
}

.search-bar {
    width: 100%;
    
    display: flex;
    justify-content: center;
    padding: 2em 10%;

    gap: .2em;
}

.search-bar .search-button {
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--second-font);
    font-size: 1rem;
    background-color: var(--main-color-30);
    color: var(--main-color-10);

    transition: all .3s ease;
}

.search-bar .search-button:hover {
    border: 2px solid var(--main-color-30);

    background-color: var(--main-color-10);
    color: var(--main-color-30);
}

.filters {
    width: 100%;
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: .5em 10%;

    gap: .2em;
}