
#menu {
    width: 100%;
    max-width: 2000px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 1em 1em;

    background-color: var(--main-color-10);
    color: black;
}

#menu .menu__logo-link {
    font-family: "ONE PIECE";
    font-weight: 600;
    font-size: 3rem;
}

#menu .menu__burger .menu__burger-icon {
    display: none;
}

#menu .menu__burger .menu__burger-links {
    width: 100%;

    display: flex;
    flex-flow: row;
    gap: .5em;
}

#menu .menu__burger .menu__burger-links .menu__burger-link .user__avatar{
    font-family: var(--second-font);
    font-size: 1rem;

    padding: .5em 1em;
    border-radius: 20px;

    cursor: pointer;

    transition: all .3s ease;
}

#menu .menu__burger .menu__burger-links .menu__burger-link .user__avatar:hover {
    background-color: var(--main-color-30);
    color: var(--main-color-10);
}

#menu .menu__burger .menu__burger-links .menu__burger-link a {
    width: 100%;
    
    font-family: var(--second-font);
    font-size: 1rem;

    padding: .5em 1em;
    border-radius: 20px;

    cursor: pointer;

    transition: all .3s ease;
}

#menu .menu__burger .menu__burger-links .menu__burger-link a:hover {
    background-color: var(--main-color-30);
    color: var(--main-color-10);
}

#nav-apartados>.menu__burger-link{
	display:flex;
}

#menu .options-popup {
    position: absolute;
    transform: translate(100px, 120%);
    width: 150px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: var(--main-color-10);
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    scrollbar-color: var(--main-color-30) transparent;
    z-index: 1;
}

#menu .options-popup .option-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu .options-popup .option-container .options-user button {
    font-family: var(--second-font);
    font-size: 1rem;

    padding: .5em 1em;
    border-radius: 20px;

    cursor: pointer;

    transition: all .3s ease;
}
/* END MENU NAVEGACION */

@media (max-width: 768px) {

    #menu .menu__burger .menu__burger-links  {
        display: none;
    }

	#menu .menu__burger .menu__burger-links.active {
		width: 100%;

    	display: flex;
    	flex-flow: row;
        align-items: center;
        justify-content: center;
    	gap: .5em;

        position: absolute;
        top: 3em;
        left: 0;

        text-align: center;
        
        background-color: var(--main-color-30);
        color: var(--main-color-10);
	}	

    #menu .menu__burger .menu__burger-links .menu__burger-link button {
        font-size: .8rem;
    }

    #menu .menu__burger .menu__burger-icon {
        display: flex;
    }

    #menu .menu__burger .menu__burger-links .menu__burger-link button:hover {
        background-color: var(--main-color-10);
        color: black;
    }

    #menu .menu__logo {
        font-size: 1.6rem;
    }
}