footer {
    width: 100vw;
    padding: 2em 0 0 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5em;

    background-color: var(--main-color-30);
    color: var(--main-color-10);
}

footer .social, footer .copyright {
    width: 100%;
    max-width: 2000px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2em ;
}

footer .copyright {
    background-color: black;
    width: 100vw;
    padding: .5em;
}